<p><%= image_tag "logo.png", size: "1100x400" %></p>
<p>      </p>
<% if current_user && current_user.admin? %>
<p><%= link_to '新增餐點', new_article_path, :class=> "btn btn-primary"%>
<% end %>
<% if current_user && current_user.admin? %>
  <%= link_to "後台管理", admin_articles_path, :class=> "btn btn-success" %>
<% end %>
</p><hr>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4629396835726!2d121.53007031490976!3d25.05229384371203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96126e64fb7%3A0xe844420ac13b2cb1!2sALPHA+Camp!5e0!3m2!1szh-TW!2stw!4v1451752199236" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>分類：

<% Category.all.each do |c| %>
	<%=link_to c.title, articles_path(:list=>c), :class=> "btn btn-primary"%>
<% end %>

<%=link_to "全部", articles_path, :class=> "btn btn-primary"%>

<%= link_to "從舊到新", articles_path( :order => "id"), :class=> "btn btn-primary" %>
<%= link_to "從新到舊", articles_path( :order => "id desc"), :class=> "btn btn-primary" %>

</p><hr>
<%= form_tag articles_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
<hr>

<table class="table">
  <tr>
    <td>餐點名稱</td>
<!--    <td>Name作者</td>  -->
    <td>圖片</td>
    <td>價格</td>
    <td>標籤</td>
    <td>敘述</td>
<!--    <td>Views瀏覽數</td>
    <td>Comments回應數</td>
    <td>Created at回應時間</td>
    <td>Updated at更新時間</td>
    <td>顯示全部</td>   -->
  </tr>

  <%= form_tag bulk_update_admin_articles_path do %>
  <tr>
    <% @articles.each do |article|%>
    <td>
<!--      <%= check_box_tag "ids[]",article.id,false %>  -->
      <%= article.topic%>
    </td>
 <!--   <td>
      <%= link_to article.user.short_name, user_profile_path(article.user) %>
    </td>  -->
    <td>
      <% if article.logo.exists? %>
      <%= image_tag(article.logo.url(:medium))%>
      <% else %>
        None
      <% end %>
    </td>
    <td>
      <%= article.price%>
    </td>
    <td>
     <% article.tags.each do |i| %>
       <%= link_to i.name, articles_path( :tag => i.name ) %>
     <% end %>
    </td>

    <td>
      <%= article.content%>
    </td>

 <!--   <td>
      <%= article.views_count %>
    </td>
    <td>
      <%= article.comments.count %>
    </td>
    <td>
      <%= article.comments.last.try(:created_at) %>
    </td>
    <td>
      <%= article.updated_at %>
    </td>  -->

<!--    <td>
      <%= link_to "show", article_path(article), :class=> "btn btn-primary" %>
    </td>  -->

 <!--   <% if current_user && article.user == current_user %>
    <td>
      <%= link_to "edit", edit_article_path(article, :page => params[:page]), :class=> "btn btn-default" %>
    </td>
    <td>
      <%= link_to "delete", article_path(article, :page => params[:page] ), :method =>:delete, :class=> "btn btn-danger" %>
    </td>
    <% end %>  -->
  </tr>

  <%end%>
 <!-- <p><%= submit_tag "Delete" ,:class=> "btn btn-primary" %>
  <%= submit_tag "Publish" ,:class=> "btn btn-primary" %> </p><hr>  -->
<%end%>

</table>
  <% if current_user && current_user.admin? %>
  <%= link_to "admin", admin_articles_path %>
  <% end %>
<%= paginate @articles %>

